<div class="page">
  <div class="content">
      <div class="section1" style="height: 400px;">
          <hln-news-item [newsItem]="newsItems[0]"></hln-news-item>
          <hln-widget></hln-widget>
      </div>
      <div class="section2">
          <hln-news-item [newsItem]="newsItems[1]"></hln-news-item>
          <hln-news-item [newsItem]="newsItems[8]"></hln-news-item>
          <hln-news-item [newsItem]="newsItems[9]"></hln-news-item>
      </div>

      <div class="section">
          <div class="section2">
              <hln-news-item [newsItem]="newsItems[4]"></hln-news-item>
              <hln-news-item [newsItem]="newsItems[2]"></hln-news-item>
              <hln-news-item [newsItem]="newsItems[3]"></hln-news-item>
          </div>
      </div>

      <div class="section">
          <div class="section2">
              <hln-news-item [newsItem]="newsItems[5]"></hln-news-item>
              <hln-news-item [newsItem]="newsItems[6]"></hln-news-item>
              <hln-news-item [newsItem]="newsItems[7]"></hln-news-item>
          </div>
      </div>

  </div>

</div>